* {
	font-family: "微软雅黑";
	margin: 0px;
	padding: 0px;
}

.mui-col-sm-6,
.mui-col-xs-12 {
	background: #FFFFFF;
}
.mui-bar a {
	color: #E73828;
}
.mui-bar h1 {
	color: #E73828;
	font-size: 1.2rem;
	font-weight: bold;
}
.company-text{
/*	border: 1px solid red;*/
	background-color: white;
	color: black;
	font-size: 0.7rem;
	text-indent:2em;
	width: 90%;
	height: 80%;
	
	
}
.mui-content>.mui-row>div>h4{
	color: red;
}
.logo2{
	width: 30%;
	height: 30%;
	margin: 10%;
	margin-left:35% ;
	margin-bottom: 5%;
	
}

